html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h2 {
	font-weight: normal;
}

p {
	font-size: 20px;
	color:black;
}

i {
	color:black;
}

#map {
	height: 100%;
}

.img_flag {
	max-width: 100%;
	width:800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.imgStreet {
	height: auto;
}

@media (max-width: 768px) {
	.imgStreet {
		max-width: 100%;
	}
	
	.imgPano {
		max-width: 100%;
	}
}
